@import url("./home/banner.css");
@import url("./home/eidbanner.css");
@import url("./home/feature.css");
@import url("./home/vedio.css");
@import url("./product/product.css");
@import url("./ng-progress//ng-progress.css");
@import url("./drawer/drawer.css");

